*{box-sizing: border-box;}
 
.wrapper {
   width: 95%;
   min-width: 1200px; 
   height: 100%;
   margin: 0 auto;
   box-shadow: 0 0 10px 0 #dedede;
   background-color: red;
 }
 
body {
   margin: 0;
   padding: 0;

   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 21px; 
   font-weight: 700;
   color: rgb(0, 0, 0);
   text-transform: uppercase;
  
   background-color: #f2f2f2;
   background-position: top center;
   background-repeat: no-repeat;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

a {
   text-decoration: none;
}


.site-navigation,
.social-list,
.searching-list,
.stars {
   list-style: none;
}

.site-navigation a,
.social-list a {
   color: black;
}

.button {
   font: inherit;

   text-align: center;
   color: #ffffff;
   vertical-align: middle;
   text-transform: uppercase;

   background-color: #81b3d2;
   border: none;
}

.main-menu {
   font-size: 14px;
   line-height: 26px;

   color: black;
   background-color: white;
}

.main-menu a:hover {
   color: #81b3d2;
}

.main-menu a:active {
   color: rgba(0, 0, 0, 0.302);
}

.main-menu-button.active a{
   color: #766357;
}

}
.intro-welcome-picture {
   position: absolute;
   margin-top: 132px;
   padding: 0px;
   margin-left: 50%;
   margin-right: 50%;
   transform: translate(-50%,0);
   display: block;
   background: none;
 }

.index-intro-picture-block {
   position: relative;
   
}

.index-intro-picture {
  display: block;
}
.index-intro-picture-block:after {
   position: absolute;
   background-size: 100% 100%;
   width: 100%;
   height: 59px;
   content: "";
   background-image: url(../img/intro-mask.svg);
   bottom: 0;
   left: 0;
   background-repeat: no-repeat;
   display: block;
}
 
   


.index-intro {
   text-align: center;
  
   color: black;
   background-color: white;
}

.index-intro-about {
   font-size: 21px;
   line-height: 26px;
}

.index-intro-features {
   font-size: 14px;
   line-height: 26px;
   font-weight: 400;

   color: #333333;
   background-color: white;
}


.index-hotel-search {
   text-align: center;

}

.index-hotel-search h2 {
   font-size: 30px;
   line-height: 36px;
}

.hotel-search {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;

   color: #333333;  
}


.button-hotel-search {
   font-size: 21px;
   line-height: 26px;
  
   width: 568px;
   height: 86px;

   background-color: #766357;
}

.button-hotel-search:hover {
   background-color: #604e43;
}

.button-hotel-search:active {
   background-color: #503e33;
   color: rgba(255, 255, 255, 0.302);
}


.search-form input {
   font-size: 14px;
   line-height: 26px;
   outline-color: #ebebeb;
}

.search-form input[type="text"] {
   font: inherit;
   color: black;
   text-transform: uppercase;
 
   background-color: #f2f2f2;
   border: none;
 }

 .search-form input[type="text"]:hover {
   background-color: #ebebeb;
 }

 .search-form input[type="text"]:focus {
   background-color: #ffffff;
} 


.button-run-search {
   font-size: 21px;
   line-height: 26px;
  
   width: 458px;
   height: 58px;
}

.button-run-search:hover { 
  background-color: #669ec0;
}

.button-run-search:active { 
   background-color: #5496bd;
   color: rgba(255, 255, 255, 0.302);
}



.button-detail:hover {
   background-color: #669ec0;
}

.button-detail:active {
   background-color: #5496bd;
   color: rgba(255, 255, 255, 0.302);
}



.button-booking {
   font-size: 14px;
   line-height: 21px;
  
   color: white;
   background-color: #766357;
}

.button-booking:hover {
   background-color:  #604e43;
}

.button-booking:active {
   background-color:  #503e33;
   color: rgba(255, 255, 255, 0.302);
}

.hotels-name {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;

  color: black;
}

.hotels-name:hover {
   color: #81b3d2;
}

.hotels-name:active {
   color: rgba(0, 0, 0, 0.302);
}


.search-item-type,
.search-item-price {
   font-weight: 400;
}



.footer-hashtag, 
.social, 
.footer-copyright {
   text-align: center;
   font-size: 21px;
   line-height: 26px;

   color: black;
   background-color: white;
}

