  *, 
  *!:before, 
  *!:after {
   box-sizing: inherit;
  }
  
  html {
   box-sizing: border-box;
  }
  .content-box-component {
   box-sizing: content-box;
  }
 
.wrapper {
   position: relative;
   width: 1200px;
   height: 100%;
   margin: 0 auto;
   box-shadow: 0 0 10px 0 #dedede;
   background-color: #ffffff;
 }
 
body {
   margin: 0;
   padding: 0;

   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 21px; 
   font-weight: 700;
   color: rgb(0, 0, 0);
   text-transform: uppercase;
  
   background-color: #f2f2f2;
   background-position: top center;
   background-repeat: no-repeat;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

a {
   text-decoration: none;
}


.site-navigation,
.social-list,
.searching-list,
.stars {
   list-style: none;
}

.site-navigation a,
.social-list a {
   color: black;
}

.button {
   font: inherit;

   text-align: center;
   color: #ffffff;
   vertical-align: middle;
   text-transform: uppercase;

   background-color: #81b3d2;
   border: none;
}


/* ################################### */


.main-menu {
   position: relative;
   font-size: 14px;
   line-height: 26px;
   color: black;
   background-color: #ffffff;
   width: 100%;
   box-sizing: border-box;

}

.main-header-logo {
   position: absolute;
   margin-top: 0px;
   margin-left: 50%;
   transform: translate(-50%,0);
   z-index: 100;
}

.main-menu a:hover {
   color: #81b3d2;
}

.main-menu a:active {
   color: rgba(0, 0, 0, 0.302);
}

.main-menu-button.active a{
   color: #766357;
}

.site-navigation {
   display: flex;
   flex-wrap: wrap;

   margin: 0px;
   padding: 0px;

   padding-right: 72px;
   padding-left: 72px;
   
   justify-content: flex-start;
   align-items: center;
   
}

.main-menu-button {
   width: 25%;
   padding-bottom: 15px;
   padding-top: 15px;
}

.main-menu-button:nth-child(4n-3),
.main-menu-button:nth-child(4n-2) {
  text-align: left;
}

.main-menu-button:nth-child(4n-1),
.main-menu-button:nth-child(4n) {
  text-align: right;
}

.main-menu-button:nth-child(4n-1) a {
   margin-right: -21px;
}

.main-menu-button:nth-child(4n-2) a {
   margin-left: -21px;
}
/* .main-menu-button:nth-child(4n+2) {
   margin-right: ;
 }
 
 .main-menu-button:nth-child(4n+3) {
   margin-right: ;
 } */
/* ################################### */

.index-intro {
   position: relative;
  
   color: black;
   background-color: #ffffff;
}

.index-intro-picture {
   display: block;
 }

.intro-welcome-picture {
   position: absolute;
   margin-top: 76px;
   padding: 0px;
   margin-left: 50%;
   margin-right: 50%;
   transform: translate(-50%,0);
   display: block;
   background: none;
 }

.index-intro-picture-mask {
   position: absolute;
   margin-top: -58px; 
   
   
}


/* .index-intro-picture-block:after {
   position: absolute;
   background-size: 100% 100%;
   background-position: bottom;
   width: 100%;
   min-width: 1200px;
   height: 59px;
   content: "";
   background-image: url(../img/intro-mask.svg);
   bottom: 0;
   left: 0;
   right: 0;
   background-repeat: no-repeat;
   display: block;
   z-index: 200; */
/* } */


/* ################################### */
 
.index-intro-about-block {
  
   background-color: #ffffff;
   min-width: 1200px;
   text-align: center;
   margin: 0px;
   padding: 0px;
}

.index-intro-about {
   font-size: 21px;
   line-height: 26px;
   margin-top: 60px;
   margin-bottom: 0px;
   text-align: center;
}

.index-intro-features {
   font-size: 14px;
   line-height: 26px;
   font-weight: 400;
   margin-bottom: 0px;
   padding: 0px;
   color: #333333;
   background-color: #ffffff;
   text-align: center;
}

/* ################################### */




.index-hotel-search {
   display: flex;
   position: relative;
   justify-content: space-between;
   align-content: center;
   flex-direction: column;
   width: 100%;
   
   margin: 0px;
   
   background-color: #ffffff;
}

.index-hotel-search-text-container {
   width: 100%;
}

.index-hotel-search-text-container h2 {
   font-size: 30px;
   line-height: 36px;
   text-align: center;
   margin: 0px;
   padding-top: 62px;
   padding-bottom: 24px;
}


.hotel-search {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   text-align: center;
   color: #333333; 
   margin: 0px;
   padding-bottom: 49px; 
}


.button-hotel-search {
   font-size: 21px;
   line-height: 26px;
   
   padding-top: 30px;
   padding-bottom: 30px;
   width: 568px;
  
   
   margin-top: 0px;
   margin-left: 50%;
   transform: translate(-50%,0);

   background-color: #766357;
}

.button-hotel-search:hover {
   background-color: #604e43;
   transition: all .5s;
}

.button-hotel-search:active {
   background-color: #503e33;
   color: rgba(255, 255, 255, 0.3);
   transition: all .5s;
}

.index-maps {
   position: relative;
   margin: 0px;
   padding: 0px;
   margin-bottom: -120px;
}

.maps {
   display: block;
}

/* ################################### */

.modal-search {
   display: block;
   position: absolute;
   z-index: 200;
   margin-left: 50%;
   margin-right: 50%;
   transform: translate(-50%,0);
   top: 305px;
   width: 568px;
   justify-content: center;
  
}

.search-form input {
   font-size: 14px;
   line-height: 26px;
   outline-color: #ebebeb;
}

.search-form input[type="text"] {
   font: inherit;
   color: black;
   text-transform: uppercase;
 
   background-color: #f2f2f2;
   border: none;
 }

 .search-form input[type="text"]:hover {
   background-color: #ebebeb;
 }

 .search-form input[type="text"]:focus {
   background-color: #ffffff;
} 


.button-run-search {
   font-size: 21px;
   line-height: 26px;
  
   width: 458px;
   height: 58px;
}

.button-run-search:hover { 
  background-color: #669ec0;
  transition: all .5s;
}

.button-run-search:active { 
   background-color: #5496bd;
   color: rgba(255, 255, 255, 0.3);
   transition: all .5s;
}

/* ################################### */

.hotels-search {
   position: relative;

}

.searching-list {
   position: relative;
   display: flex;
   flex-direction: column;
   min-width: 1200px;
   box-sizing: border-box;
   background-color: #ffffff;

   padding: 0px;
   margin: 0px;
}

.searching-result-item {
   border-top: 1px solid #e5e5e5; 
}

.searching-result-item:last-child {
   border-bottom: 1px solid #e5e5e5; 
}

.searching-result-item li {
   position: relative;
   display: flex;
   padding-left: 72px;
   padding-right: 72px;
 
}

.search-item-image {
   height: 90px;
   margin: 0px;
   padding-top: 30px;
   padding-right: 30px;
   padding-bottom: 30px;
}


.searching-item-block {
   display: flex;
   width: 259px;
   flex-wrap: wrap;
   margin-right: auto; 
   padding-top: 26px;
   padding-bottom: 30px;
   flex-direction: column;
}

.item-price-type {
   padding-bottom: 13px;

}

.item-price-type {
   display: flex;
   box-sizing: border-box;
   justify-content: space-between;
 
}

.search-item-type,
.search-item-price {
   font-weight: 400;
}

.search-item-price {
   margin-left: -7px;
}

.searching-item-block h3,
.searching-item-block p{
   margin-top: 0px; 
   margin-bottom: 0px;
}

.searching-item-block h3 {
   padding-bottom: 7px;
}

a.button-detail,
a.button-booking {
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 17px;
  padding-right: 17px;
  box-sizing: border-box;
}

.searching-buttons-block {
   display: flex;
   justify-content: space-between;
}

.button-detail:hover {
   background-color: #669ec0;
   transition: all .5s;
}

.button-detail:active {
   background-color: #5496bd;
   color: rgba(255, 255, 255, 0.3);
   transition: all .5s;
}



.button-booking {
   font-size: 14px;
   line-height: 21px;
  
   color: #ffffff;
   background-color: #766357;
}

.button-booking:hover {
   background-color:  #604e43;
   transition: all .5s;
}

.button-booking:active {
   background-color:  #503e33;
   color: rgba(214, 52, 52, 0.3);
   transition: all .5s;
}


.hotels-name {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;
   
   color: black;
}

.hotels-name:hover {
   color: #81b3d2;
   transition: all .5s;
}

.hotels-name:active {
   color: rgba(0, 0, 0, 0.302);
   transition: all .5s;
}

.searching-stars-rating-block {
   padding-top: 30px;
   padding-bottom: 30px;
}

.hotels-stars {
   display: flex;
   padding: 0px;
   padding-bottom: 45px;
   margin: 0px;
   justify-content: flex-end;
     
}

li.stars {
   background-image: url(../img/star.svg);
   background-repeat: no-repeat;
   margin: 0px;
   padding: 0px;
   background-position: 50% 50%;
   width: 18px;
   height: 17px;
   margin-right: 7px;
   overflow: hidden;
   text-indent: -100px;
}

li.stars:last-of-type {
   margin-right: 0px;
}


.search-hotel-rating {
   background-color: #f2f2f2;
   margin: 0px;
   padding-top: 3px;
   padding-bottom: 3px;
   padding-left: 16px;
   padding-right: 14px;
   font-weight: 400;
   color: #666666;
}

/* ################################### */


.main-footer {
   display: flex;
   position: relative;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   padding-right: 73px;
   padding-left: 73px;
   box-sizing: border-box;
  
}


.footer-hashtag, 
.social, 
.footer-copyright {
  
   font-size: 21px;
   line-height: 26px;
   margin: 0px;
   padding: 0px;

   color: black; 
}




.footer-hashtag p{
   width: 240px;
   padding-left: 60px;
   padding-top: 46px;
   padding-bottom: 47px;  
   
   margin: 0px;
   margin-right: 151px;
   
}

.social {
   width: 150px;
   margin-right: 229px;
}


ul.social-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin: 0px;
   padding: 0px;
   padding-top: 36px;
   padding-bottom: 36px;
  
}

.social-button {
   display: flex;
   position: relative;
   width: 46px;
   height: 48px;
   background-color: #81b3d2;
  
}


/* .social-button-twitter  {
   background-image: url(../img/icon-twitter.svg);
   background-repeat: no-repeat;
   background-position: 50% 50%;

}

.social-button-facebook {
   background-image: url(../img/icon-facebook.svg);
   background-repeat: no-repeat;
   background-position: 50% 50%;
   
}

 .social-button-youtube {
   background-image: url(../img/icon-youtube.svg);
   background-repeat: no-repeat;
   background-position: 50% 50%;
    
} */

/* .social-button:hover {
   background-color: #669ec0;
  
} */

.social-button:after  {
  content:'';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background-repeat: no-repeat;
  
}

.social-button-twitter:after  {
   background-image: url(../img/icon-twitter.svg);
   width: 17px;
   height: 15px;
}

.social-button-facebook:after {
   background-image: url(../img/icon-facebook.svg);
   width: 12px;
   height: 22px;
}

.social-button-youtube:after {
   background-image: url(../img/icon-youtube.svg);
   width: 20px;
   height: 16px;  
} 

.social-button:hover {
   background-color: #669ec0;
   transition: all .5s;
} 

.social-button:active:after  {
  opacity: 0.7;
  transition: all .5s;
   
 }


 .footer-copyright {
   display: flex;
   position: relative;
   padding-top: 7px;
  
   
   font-size: 14px;
   font-weight: 400;
   box-sizing: border-box;
}

.footer-copyright-block {
   display: flex;
   position: relative;
   width: 196px;
   justify-content: space-between;
   margin: 0px;
   padding: 0px;
   padding-top: 39px;
   padding-bottom: 40px;
   
}

.footer-copyright-link {
   display: flex;
   width: 196px;
   box-sizing: border-box;
   justify-content: space-between;
   
}

.footer-copyright-link path,
.footer-copyright-link rect {
   fill: #000;
   transition: all .2s;
}

.footer-copyright-link:hover path,
.footer-copyright-link:hover rect {
   fill: #81b3d2;
   transition: all .5s;

}

.footer-copyright-link:active path,
.footer-copyright-link:active rect {
   fill: #bdbbbc;
   transition: all .5s;

}