  *, 
  *!:before, 
  *!:after {
   box-sizing: inherit;
  }
  
  html {
   box-sizing: border-box;
  }
  .content-box-component {
   box-sizing: content-box;
  }
 
.wrapper {
   position: relative;
   width: 1200px;
   height: 100%;
   margin: 0 auto;
   box-shadow: 0 0 10px 0 #dedede;
   background-color: red;
 }
 
body {
   margin: 0;
   padding: 0;

   font-family: "PT Sans", Arial, sans-serif;
   font-size: 14px;
   line-height: 21px; 
   font-weight: 700;
   color: rgb(0, 0, 0);
   text-transform: uppercase;
  
   background-color: #f2f2f2;
   background-position: top center;
   background-repeat: no-repeat;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

a {
   text-decoration: none;
}


.site-navigation,
.social-list,
.searching-list,
.stars {
   list-style: none;
}

.site-navigation a,
.social-list a {
   color: black;
}

.button {
   font: inherit;

   text-align: center;
   color: #ffffff;
   vertical-align: middle;
   text-transform: uppercase;

   background-color: #81b3d2;
   border: none;
}


/* ################################### */


.main-menu {
   position: relative;
   font-size: 14px;
   line-height: 26px;
   color: black;
   background-color: #ffffff;
   width: 100%;
   height: 56px;
   

}

.main-header-logo {
   position: absolute;
   margin-top: 0px;
   margin-left: 50%;
   transform: translate(-50%,0);
   z-index: 100;
}

.main-menu a:hover {
   color: #81b3d2;
}

.main-menu a:active {
   color: rgba(0, 0, 0, 0.302);
}

.main-menu-button.active a{
   color: #766357;
}

.site-navigation {
   display: flex;
   margin: 0px;
   padding: 0px;
   justify-content: space-between;
   align-items: center;
   height: 56px;
}

.site-navigation li:nth-child(1),
.site-navigation li:nth-child(2), {
   width: 25%;
   text-align: left;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4), {
   width: 25%;
   text-align: right;
}

.site-navigation li:nth-child(1) {
  margin-left:  70px;
}

.site-navigation li:nth-child(4) {
   margin-right:  70px;
 }
/* ################################### */

.index-intro {
   position: relative;
  
   color: black;
   background-color: #ffffff;
}

.index-intro-picture {
   display: block;
 }

.intro-welcome-picture {
   position: absolute;
   margin-top: 76px;
   padding: 0px;
   margin-left: 50%;
   margin-right: 50%;
   transform: translate(-50%,0);
   display: block;
   background: none;
 }

.index-intro-picture-mask {
   position: absolute;
   margin-top: -58px; 
   
   
}


/* .index-intro-picture-block:after {
   position: absolute;
   background-size: 100% 100%;
   background-position: bottom;
   width: 100%;
   min-width: 1200px;
   height: 59px;
   content: "";
   background-image: url(../img/intro-mask.svg);
   bottom: 0;
   left: 0;
   right: 0;
   background-repeat: no-repeat;
   display: block;
   z-index: 200; */
/* } */


/* ################################### */
 
.index-intro-about-block {
  
   background-color: #ffffff;
   min-width: 1200px;
   text-align: center;
   margin: 0px;
   padding: 0px;
}

.index-intro-about {
   font-size: 21px;
   line-height: 26px;
   margin-top: 60px;
   margin-bottom: 0px;
   text-align: center;
}

.index-intro-features {
   font-size: 14px;
   line-height: 26px;
   font-weight: 400;
   margin-bottom: 0px;
   padding: 0px;
   color: #333333;
   background-color: #ffffff;
   text-align: center;
}

/* ################################### */




.index-hotel-search {
   display: flex;
   justify-content: space-between;
   align-content: center;
   flex-direction: column;
   width: 100%;
   height: 290px;
   margin: 0px;
   
   background-color: #ffffff;
}

.index-hotel-search-text-container {
   height: 205;
}

.index-hotel-search h2 {
   font-size: 30px;
   line-height: 36px;
   text-align: center;
}

.hotel-search {
   font-size: 14px;
   line-height: 24px;
   font-weight: 400;
   text-align: center;
   color: #333333;  
}

.button-hotel-search {
   font-size: 21px;
   line-height: 26px;
   
   padding-top: 30px;
   width: 568px;
   height: 55px;
   
   margin-top: 0px;
   margin-left: 50%;
   transform: translate(-50%,0);

   background-color: #766357;
}

.button-hotel-search:hover {
   background-color: #604e43;
}

.button-hotel-search:active {
   background-color: #503e33;
   color: rgba(255, 255, 255, 0.302);
}

/* ################################### */

.modal-search {
   display: none;
}

.search-form input {
   font-size: 14px;
   line-height: 26px;
   outline-color: #ebebeb;
}

.search-form input[type="text"] {
   font: inherit;
   color: black;
   text-transform: uppercase;
 
   background-color: #f2f2f2;
   border: none;
 }

 .search-form input[type="text"]:hover {
   background-color: #ebebeb;
 }

 .search-form input[type="text"]:focus {
   background-color: #ffffff;
} 


.button-run-search {
   font-size: 21px;
   line-height: 26px;
  
   width: 458px;
   height: 58px;
}

.button-run-search:hover { 
  background-color: #669ec0;
}

.button-run-search:active { 
   background-color: #5496bd;
   color: rgba(255, 255, 255, 0.302);
}

/* ################################### */

.searching-list {
   display: flex;
   flex-direction: column;
   width: 100%;
   background-color: #ffffff;
   margin: 0px;
   position: relative;
   padding: 0px;
   margin: 0px;
}

.searching-result-item {
   border-bottom: 1px solid #e5e5e5; 
}

.searching-result-item:nth-child(1) {
   border-top: 1px solid #e5e5e5; 
}



.button-detail:hover {
   background-color: #669ec0;
}

.button-detail:active {
   background-color: #5496bd;
   color: rgba(255, 255, 255, 0.302);
}



.button-booking {
   font-size: 14px;
   line-height: 21px;
  
   color: #ffffff;
   background-color: #766357;
}

.button-booking:hover {
   background-color:  #604e43;
}

.button-booking:active {
   background-color:  #503e33;
   color: rgba(255, 255, 255, 0.302);
}

.hotels-name {
   font-size: 21px;
   line-height: 26px;
   font-weight: 700;

  color: black;
}

.hotels-name:hover {
   color: #81b3d2;
}

.hotels-name:active {
   color: rgba(0, 0, 0, 0.302);
}


.search-item-type,
.search-item-price {
   font-weight: 400;
}

/* ################################### */


.main-footer {
   display: flex;
   width: 100%;
   justify-content: space-between;
   background-color: #ffffff
}

.footer-hashtag, 
.social, 
.footer-copyright {
   text-align: center;
   font-size: 21px;
   line-height: 26px;
   margin: 0px;
   padding: 0px;

   color: black;
   background-color: #ffffff;
}

.footer-hashtag {
   width: 240px;
}

.social {
   width: 400px;
}

.footer-copyright {
   width: 240px;
}

ul.social-list {
   margin: 0px;
   padding: opx;
}